---
layout: default
---
<div class="page">
    
     <div class="port-container">
    
{% for post in site.posts %}
    {% if post.tags contains "PUREDRIP" or "Wave" or "Bosse" or "Brace" %}
<!--     <img src="{{site.baseurl}}/assets/img/{{post.img}}">
    <h1>{{post.title}}</h2> -->
    
    <div class="grid-container">
                            
                          <img src="{{site.baseurl/assets/img/{{post.img}}">
                          <div class="overlay">
                        <div class="text">{{post.title}}</div>
                      </div>
                        </div>
{% endif %}
  
    
    
{% endfor %}
    
</div>
    </div>
